doctype html
html
  head
    title Stack Merge
    link(rel="stylesheet", href="assets/css/main.css")
  body
    h1 Stack Merge

    .image-stack.pane
      .upload-controls.drop-target
        button.choose
          | + Choose images
          input.choose(type="file", multiple)
        p.hint You can also drag and drop images here to load them.

        .drop-overlay
          | Drop<br>images<br>here

        ol.upload-list

        button.upload.
          &#8679; Upload

        .uploading-overlay
          button.cancel-upload Cancel

        button.cancel-upload-selection Cancel

      ol.image-stack

    .preview.pane
      .working-overlay.dialog
        p Working&hellip;
        progress(min="0", max="100", value="0")
      canvas.preview

    script#template-stack-item(type='text/mustache').
      {{# images }}
      <li id="thumb-{{id}}" {{#visible}}class="using"{{/visible}}>
        <input type="checkbox" data-id="{{ id }}" {{# visible }}checked{{/ visible }} class="toggle">
        <button class="remove" data-id="{{ id }}">Remove</button>
        <figure {{^canvas}}class="loading"{{/canvas}}>
          {{# image }}
          <img src="{{ image.src }}">
          {{/ image }}
          <figcaption class="thumbnail-name">{{ name }}</figcaption>
        </figure>
      </li>
      {{/ images }}

    script(data-main='main', src='assets/javascript/lib/require.js')
    script.
      require.config({
        baseUrl: '/assets/javascript',
        paths: {
          backbone: 'lib/backbone-min',
          underscore: 'lib/underscore-min',
          jquery: 'lib/jquery-2.1.4.min',
          mustache: 'lib/mustache.min'
        }
      });
