doctype html
html
  head
    title Stack Merge
    link(rel="shortcut icon", type="image/png", href="/assets/media/favicon.png")
    link(rel="stylesheet", href="assets/css/main.css")

  body
    header
      h1 Stack Merge

    .image-stack.pane.drop-target
      .stack.controls-group
        button.choose
          | + Add images&hellip;
          input.choose(type="file", multiple)

        button.remove-all
          | Remove all

        div
          label(for="blending-mode") Blending mode
          select#blending-mode
            option(value="edges") Edges
            option(value="median", selected) Median

      p.hint You can drag and drop images here to load them.

      .drop-overlay
        p.drop-hint Drop<br>images<br>here

      ol.image-stack

    .preview.pane
      .working-overlay.dialog
        p Working&hellip;
        progress(min="0", max="100", value="0")
        button.cancel Cancel

      .controls-group
        button.refresh Refresh
        input#zoom-to-fit(type="checkbox")
        label(for="zoom-to-fit") Zoom to fit
        button.save
          <i class="icon"></i>
          | Save image

      .preview-scroller
        canvas.preview-image

    footer
      p
        | By 
        a(href="http://andyf.me") Andy Farrell
        |  &middot; source available 
        a(href="https://github.com/caerphoto/stackmerge") on GitHub
        |  &middot; inspired by 
        a(href="https://luminous-landscape.com/making-people-and-other-things-go-away/") this Luminous Landscape article
      p.timing
        | Processed images in 
        span ?
        |  seconds


    script#template-stack-item(type="text/mustache").
      {{# images }}
      <li id="thumbnail-{{id}}" class="{{#visible}}using {{/visible}} {{^thumbnailURL}}loading {{/thumbnailURL}}">
        <input type="checkbox" data-id="{{ id }}" {{# visible }}checked{{/ visible }} class="toggle">
        <button class="remove" data-id="{{ id }}">Remove</button>
        <figure>
          <div class="loading-spinner"></div>
          <img src="{{ thumbnailURL }}">
          <figcaption class="thumbnail-name">{{ name }}</figcaption>
        </figure>
      </li>
      {{/ images }}

    if (process.env.NODE_ENV === 'production')
      script(data-main="main", src="#{ builtJSPath }")
    else
      script(data-main="main", src="assets/javascript/lib/require.js")
      script.
        require.config({
          baseUrl: '/assets/javascript',
          paths: {
            backbone: 'lib/backbone-min',
            underscore: 'lib/underscore-min',
            jquery: 'lib/zepto-1.1.6.min',
            mustache: 'lib/mustache.min'
          },
          shim: {
            jquery: {
              exports: '$'
            }
          }
        });
