/* Mini-reset */
html, body,
h1, h2, h3, h4,
input, button,
canvas,
p, div, span, figure, figcaption, header,
ul, ol, li {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
/* end of reset */

html {
    background-color: #ccc;
    font-size: 14px;
}

body {
    font-family: "Open Sans", "Lucida Grande", "Segoe UI", "Ubuntu", "Roboto", sans-serif;
    overflow: hidden;
}

header {
    background-color: #fb0;
    color: #000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    padding: 0;
    height: 4rem;
    border-bottom: 1px solid #b70;
    position: relative;
    z-index: 3;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 0.5rem;
    line-height: 1.4rem;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    color: #444;
    border-top: 1px solid #aaa;
    height: 1.6rem;
}

a {
    color: #000;
}

h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2;
}

.dialog,
button,
input[type="text"],
input[type="number"],
input[type="password"] {
    border: 1px solid #aaa;
    padding: 0.4em 0.7em;
}

button,
input[type="text"],
input[type="number"],
input[type="password"] {
    border-radius: 2px;
    display: inline-block;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #fb0;
    background-color: #fff;
    color: #fb0;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #fff8e0;
}

input[type="checkbox"]::after {
    display: block;
    position: absolute;
    line-height: 1.3;
    text-align: center;
    content: " ";
    width: 100%;
    height: 0;
    top: 0;
    overflow: visible;
}

input[type="checkbox"]:checked::after {
    content: "\2716";
}

.dialog {
    background-color: #eee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: -1px;
    margin-bottom: 1px;
    cursor: pointer;
    line-height: 1;
}

button:hover {
    background-color: #eee;
    border-color: #777;
}

input:focus,
button:focus {
    outline: 2px dotted #888;
}

button:active {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
}

header button {
    position: absolute;
    top: 1em;
}

header button.choose {
    left: 1em;
}

header input.choose {
    display: none;
}

header button.save {
    right: 1em;
}

.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: bottom;
    margin-right: 0.5em;
}

button.save .icon {
    width: 12px;
    background-image: url('/assets/media/icon-download.png');
}

.pane {
    background-color: #fff;
    position: absolute;
    top: 4em;
    bottom: 1.6em;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
}

.image-stack.pane {
    left: 0;
    width: 17em;
    overflow: visible;
}

.preview.pane {
    left: 17em;
    right: 0;
    overflow: hidden;
    border-left: 1px solid #eee;
}


.drop-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1rem solid #fb0;
    color: #fb0;
    background-color: #fff;
    z-index: 1;
}

.drop-hint {
    font-size: 2rem;
    line-height: 1.5;
    height: 4.5em;
    position: absolute;
    top: 50%;
    margin-top: -3em;
    width: 100%;
    text-align: center;

}

.dragging .drop-overlay {
    display: block;
}

.image-stack.pane .hint {
    text-align: center;
    color: #aaa;
    padding: 2em 1.5em;
}

.image-stack.pane.has-images .hint {
    display: none;
}

/* IMAGE STACK */

ol.image-stack {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}

ol.image-stack li {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #eee;
    padding: 1em;
    position: relative;
}

ol.image-stack li:hover {
    border-color: #fb0;
}

ol.image-stack figure {
    margin: 2.5em auto 0;
    min-width: 14em;
    min-height: 5em;
    background: none;
}

ol.image-stack figure.loading {
    background: url('/assets/media/loading-small-white-black.gif') center no-repeat;
}

ol.image-stack img {
    display: block;
    max-width: 14em;
    max-height: 14em;
    border: 1px solid #ccc;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin: auto;
    opacity: 0.5;
}

ol.image-stack .using img {
    opacity: 1;
}

ol.image-stack .toggle,
ol.image-stack .remove {
    position: absolute;
    top: 1rem;
}

ol.image-stack .toggle {
    left: 1rem;
    margin-top: 0.1em;
}

ol.image-stack .remove {
    right: 1rem;
    font-size: 70%;
}

.thumbnail-name {
    margin-top: 0.5em;
    text-align: center;
}

.preview-scroller {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
    z-index: 0;
}

canvas.preview {
    width: auto;
    height: auto;
    margin: auto;
    background-color: #888;
}

.preview.pane .working-overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20em;
    height: 6em;
    margin-left: -10em;
    margin-top: -3em;
    padding-top: 1em;
    text-align: center;
    z-index: 1;
}

.working-overlay progress {
    display: block;
    margin: 1em auto;
}

.preview.pane.working .working-overlay {
    display: block;
}
